doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prism.css')
  body
    div(class='main')
      block content
    script(src='/javascripts/jquery-2.1.1.js')
    script(src='/javascripts/codeindex.js')